<!-- eslint-disable vue/v-on-function-call -->
<template>
    <div :class="['v-editor-container', { 'v-editor-container-focused': showToolbar}]" ref="VEditorContainerEl">
        <Teleport to="body">
            <VPopover
                v-if="showToolbar" class="toolbar" position="top-start"
                :trigger="VEditorContainerEl!" :offset="[11, 0]" :arrow="false"
                :onClickOutside="preventClose"
                :onEscape="preventClose">
                <template #body>
                    <button
                        title="Bold"
                        @mousedown.prevent
                        @click.prevent="editor?.chain().focus().toggleBold().run()"
                        :class="['btn btn-default btn-sm', { 'btn-info': editor?.isActive('bold') }]">
                        <i class="glyphicons glyphicons-bold"/>
                    </button>
                    <button
                        title="Italic"
                        @mousedown.prevent
                        @click.prevent="editor?.chain().focus().toggleItalic().run()"
                        :class="['btn btn-default btn-sm', { 'btn-info': editor?.isActive('italic') }]">
                        <i class="glyphicons glyphicons-italic"/>
                    </button>
                    <button
                        title="Insert/remove bulleted list"
                        @mousedown.prevent
                        @click.prevent="editor?.chain().focus().toggleBulletList().run()"
                        :class="['btn btn-default btn-sm', { 'btn-info': editor?.isActive('bulletList') }]">
                        <i class="glyphicons glyphicons-list"/>
                    </button>
                    <button
                        title="Insert/remove numbered list"
                        @mousedown.prevent
                        @click.prevent="editor?.chain().focus().toggleOrderedList().run()"
                        :class="['btn btn-default btn-sm', { 'btn-info': editor?.isActive('orderedList') }]">
                        <IconOrderedList class="icon-ordered-list"/>
                    </button>
                    <button
                        id="v-editor-toolbar-link-button"
                        title="Link"
                        @mousedown.prevent
                        @click.prevent="toggleLinkPopover"
                        :class="['btn btn-default btn-sm', { 'btn-info': editor?.isActive('link') }]"
                        ref="linkEl">
                        <i class="glyphicons glyphicons-link"/>
                    </button>
                    <button
                        title="Unlink"
                        @mousedown.prevent
                        @click.prevent="editor?.chain().focus().unsetLink().run()"
                        class="btn btn-default btn-sm"
                        :disabled="!editor?.isActive('link')">
                        <IconUnlink/>
                    </button>
                </template>
            </VPopover>
        </Teleport>
        <VEditorLinkPopover v-if="showLinkPopover" @close="toggleLinkPopover" :trigger="linkEl!" :editor="editor!"/>
        <slot name="before"></slot>
        <EditorContent :editor="editor"/>
        <slot name="after"></slot>
    </div>
</template>

<script setup lang="ts">
    import { useAttrs, ref, watch, onMounted } from 'vue';
    import { VPopover } from '../VPopover';
    import type { PropType, Ref } from 'vue';
    import { useEditor, EditorContent } from '@tiptap/vue-3';
    import type { Editor } from '@tiptap/core';
    import { useMention } from './useMention';
    import type { Mention } from './useMention';
    import Document from '@tiptap/extension-document';
    import Paragraph from '@tiptap/extension-paragraph';
    import Text from '@tiptap/extension-text';
    import History from '@tiptap/extension-history';
    import Bold from '@tiptap/extension-bold';
    import Italic from '@tiptap/extension-italic';
    import BulletList from '@tiptap/extension-bullet-list';
    import OrderedList from '@tiptap/extension-ordered-list';
    import ListItem from '@tiptap/extension-list-item';
    import Link from '@tiptap/extension-link';
    import Placeholder from '@tiptap/extension-placeholder';
    import VEditorLinkPopover from './VEditorLinkPopover.vue';
    import IconOrderedList from './icons/IconOrderedList.vue';
    import IconUnlink from './icons/IconUnlink.vue';


    const props = defineProps({
        /** HTML string representing the content of the editor */
        modelValue: { type: String, default: ''},
        /** Enables mentions support. Expects an array of Mention{ id, name } */
        mentions: { type: Array as PropType<Mention[]>, default: () => []},
        /** Class(es) to place on the editor component element */
        editorClass: { type: [String, Array] as PropType<string | string[]>, default: ''},
    });
    const emit = defineEmits<{
        (e: 'update:modelValue', value: string): void
        (e: 'update:editor', editor: Editor): void
        (e: 'update:mention', mention: Mention): void
        (e: 'update:getMentions', getMentions: () => Mention[]): void
        (e: 'created', editor: Editor): void
        (e: 'focus'): void
        (e: 'blur'): void
    }>();

    // tiptap editor and extensions setup
    const { mentionInstance, getMentions } = useMention(props.mentions, mention => {
        /**
        * Emitted when a mention is added.
        */
        emit('update:mention', mention);
    });
    const editor = useEditor({
        content: props.modelValue,
        extensions: [
            Document,
            Paragraph,
            Text,
            History,
            Bold,
            Italic,
            BulletList,
            OrderedList,
            ListItem,
            Placeholder.configure({ placeholder: useAttrs().placeholder as string }),
            Link.configure({ openOnClick: false }),
            ...mentionInstance ? [mentionInstance] : [],
        ],
        onCreate({ editor }) {
            emit('created', editor);
            emit('update:getMentions', () => getMentions(editor.getJSON().content));
            emit('update:editor', editor);
        },
        onUpdate({ editor }) {
            emit('update:modelValue', editor.getHTML());
        },
        editorProps: {
            attributes: {
                class: ([] as string[]).concat(props.editorClass).join(' '),
            },
        },
    });
    // if modelValue is changed independently of the editor, the editor content needs to be kept in sync
    watch(
        () => props.modelValue,
        (modelValue) => {
            const isSame = editor.value?.getHTML() === modelValue;
            if (isSame) return;
            editor.value?.commands.setContent(modelValue, false);
        }
    );

    // popover, toolbar, and focus event handling
    const showToolbar = ref(false);
    onMounted(() => {
        editor.value!.on('focus', () => {
            emit('focus');
            showToolbar.value = true;
        });
        editor.value!.on('blur', () => {
            emit('blur');
            showToolbar.value = false;
        });
    });
    const showLinkPopover = ref(false);
    function toggleLinkPopover() {
        showLinkPopover.value = !showLinkPopover.value;
    }
    function preventClose() {
        return true;
    }
    const VEditorContainerEl: Ref<HTMLElement | null> = ref(null);
    const linkEl: Ref<HTMLElement | null> = ref(null);
</script>

<style lang="scss" scoped>
    @import '@design/index.scss';

    .v-editor-container {
        position: relative;
        border: 1px solid $default-border-color;
        transition: border-color ease-in-out .3s;
        &-focused {
            border-color: $default-focus-color;
        }
    }

    :deep(.ProseMirror) {
        padding: 10px 10px 10px 10px;
        overflow-y: scroll;
        &.ProseMirror-focused {
            outline: none;
        }
        p.is-editor-empty:first-child::before {
            content: attr(data-placeholder);
            float: left;
            color: $text-muted;
            pointer-events: none;
            height: 0;
        }
    }

    :deep(.mention) {
        color: $brand-primary;
        background: $light-gray;
        border-radius: .3rem;
        padding: 3px 5px;
        margin-right: 3px;
    }

    .glyphicons {
        margin-top: 2px;
        top: 0;
    }

    .toolbar {
        background: $lighter-gray;
        border: 1px solid $default-border-color;
        border-radius: 0;
        height: 43px;
        padding: 5px;
        z-index: 9999;
        white-space: nowrap;
        box-shadow: none;
        min-width: 0;
        .btn {
            border-color: transparent;
            &:hover {
                border-color: $dark-gray;
            }
        }
        .icon-ordered-list {
            padding-top: 1px;
        }
        :deep(.popover-body) {
            padding: 0;
        }
    }
</style>
