<template>
    <VPopover :trigger="trigger" @close="emit('close')">
        <template #body>
            <div class="form-group">
                <label class="caps-label semibold">Display text</label>
                <input v-model="title" type="text" maxlength="75" class="form-control display-block">
            </div>
            <div class="form-group row">
                <div class="col-md-4">
                    <label class="caps-label semibold">Protocol</label>
                    <select class="form-control" v-model="protocol">
                        <option value="https://">https://</option>
                        <option value="http://">http://</option>
                    </select>
                </div>
                <div class="col-md-8">
                    <label class="caps-label semibold required-label">Url</label>
                    <input
                        @input="(event: Event) => setPath((event.target as HTMLInputElement).value)"
                        :value="path" type="text" maxlength="200" class="form-control display-block">
                </div>
            </div>
        </template>
        <template #footer>
            <button @click.prevent="setLink" class="btn btn-success">Add</button>
            <span> or <a class="pointer cancel-link" @click="emit('close')">cancel</a></span>
        </template>
    </VPopover>
</template>

<script setup lang="ts">
    import { ref, computed } from 'vue';
    import { Editor } from '@tiptap/vue-3';
    import { VPopover } from '../VPopover';

    const props = defineProps<{
        editor: Editor,
        trigger: HTMLElement,
    }>();
    const emit = defineEmits<{
        (e: 'close'): void
    }>();

    // path functionality
    const protocol = ref('https://');
    const path = ref('');
    function setPath(value = '') {
        // if a protocol is entered into the path input, set it as the active protocol and replace it
        if (value.startsWith('http://') || value.startsWith('https://')) {
            const [protocolValue, pathValue] = value.split('//');
            protocol.value = `${protocolValue}//`;
            path.value = pathValue;
            return;
        }
        path.value = value;
    }
    setPath(props.editor.getAttributes('link').href);

    // link functionality
    const title = ref(props.editor.state.doc.textBetween(props.editor.state.selection.from, props.editor.state.selection.to, ' '));
    const url = computed(() => protocol.value + path.value);
    function setLink() {
        const from = props.editor.state.selection.from;
        const to = from + (title.value || url.value).length;

        if (!path.value) {
            window.alert('Please enter a URL for the link.');
            return;
        }

        props.editor
            .chain()
            .focus()
            .insertContentAt({ from, to }, title.value || url.value)
            .setTextSelection({ from, to })
            .extendMarkRange('link')
            .setLink({ href: url.value })
            .run();
        emit('close');
    }
</script>

<style scoped>
    .cancel-link {
        cursor: pointer;
    }
</style>
