<template>
    <button ref="topPlacement" class="btn btn-primary">Tooltip</button>
</template>

<script setup lang="ts">
    import { ref } from 'vue';
    import { useTooltip } from '../';

    const topPlacement = ref<HTMLElement | null>(null);
    useTooltip(topPlacement, 'This is a tooltip');
</script>
