<template>
    <button v-tooltip="'This is a tooltip'" class="btn btn-primary">top (default)</button>
    <button v-tooltip:bottom="'This is a tooltip'" class="btn btn-primary">bottom</button>
</template>

<script setup lang="ts">
    import { vTooltip } from '../directive';
</script>
