<template>
    <label>Description</label>
    <VEditor v-model="description" v-model:getMentions="getMentions" :mentions="mentions"/>

    <button @click="logMentions" class="btn btn-info" style="margin-top: 20px">Log mentions</button>
</template>

<script setup lang="ts">
    import { ref } from 'vue';
    import { VEditor } from '../';

    const description = ref('Hello <span data-type="mention" class="mention" data-id="99">');
    const mentions = ref([
        { id: 1, name: 'Super User 1 ▷' },
        { id: 2, name: 'Supply Chain User 2 ▷' },
        { id: 3, name: 'Supply Chain User 3 ▷' },
        { id: 20, name: 'Affiliated User 20 ▷' },
        { id: 21, name: 'Affiliated User 21 ▷' },
        { id: 22, name: 'Affiliated User 22 ▷' },
        { id: 41, name: 'Device Rep User 41 ▷' },
        { id: 42, name: 'Device Rep User 42 ▷' },
        { id: 43, name: 'Device Rep User 43 ▷' },
        { id: 99, name: 'Bender' },
    ]);
    const getMentions = ref(() => {});

    function logMentions() {
        console.log(getMentions.value()); // eslint-disable-line no-console
    }
</script>
