<template>
    <label>Description</label>
    <VEditor v-model="description" placeholder="Enter some text..."/>
</template>

<script setup lang="ts">
    import { ref } from 'vue';
    import { VEditor } from '../';

    const description = ref('<p></p>');
</script>
