<template>
    <label>Description</label>
    <VEditor v-model="description"/>
</template>

<script setup lang="ts">
    import { ref } from 'vue';
    import { VEditor } from '../';

    const description = ref('Hello <strong>world</strong>');
</script>
