<template>
    <label>Description</label>
    <VEditor v-model="description">
        <template #before>
            <div style="background: #f5f5f5; padding: 10px; font-weight: bold;">Editor with slots</div>
        </template>
        <template #after>
            <div style="background: #f5f5f5; padding: 10px;">
                <button class="btn btn-success">Save</button>
            </div>
        </template>
    </Veditor>
</template>

<script setup lang="ts">
    import { ref } from 'vue';
    import { VEditor } from '../';

    const description = ref(`<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
        in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>`);
</script>
