<template>
    <Component
        :is="tag"
        @click.self="launchFileInput"
        :class="{ 'btn btn-default': tag === 'button' }">
        Import file
        <input
            @change="emitFile"
            ref="fileInput"
            type="file"
            class="hidden">
    </Component>
</template>

<script setup lang="ts">
    import { ref, Ref } from 'vue';

    const props = defineProps({
        value: { type: File, default: null },
        tag: { type: String, default: 'button' },
        inputCallback: { type: Function, default: () => true },
    });
    const emit = defineEmits<{
        (e: 'update:modelValue', file: File): void
    }>();
    const fileInput: Ref<HTMLElement | null> = ref(null);

    function launchFileInput() {
        if (!props.inputCallback()) return false;
        fileInput.value!.click();
    }
    function emitFile(event: Event) {
        const file = (event.target as HTMLInputElement).files![0];
        emit('update:modelValue', file);
    }
</script>
