@import 'tippy.js/dist/tippy.css';
@import 'tippy.js/themes/light.css';

.tippy-box {
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 2px;
}

.tippy-content {
    font-size: 13px;
}

.tippy-arrow {
    color: rgba(0, 0, 0, 0.9);
}

.tippy-box[data-theme~='plain'] {
    background-color: transparent;
    color: initial;
}

.tippy-box[data-theme~='plain'] > .tippy-arrow {
    display: none;
}

.tippy-box[data-theme~='plain'] > .tippy-content {
    padding: 0;
    font-size: initial;
}
