<template>
    <span class="v-tag-bar-tag">
        <span class="v-tag-bar-tag-name">{{ tag.name }}</span><slot></slot>
    </span>
</template>

<script setup lang="ts">
    import { onUnmounted } from 'vue';
    import type { Option } from './VTagBar.vue';

    const props = defineProps<{
        tag: Option,
    }>();
    const emit = defineEmits<{
        (e: 'destroyed', tag: typeof props.tag): void
    }>();

    onUnmounted(() => {
        /**
        * Emitted to notify the parent component that the tag component was destroyed.
        * Simpler than watching the `options` prop and diffing the old and new array values to find the removed item.
        * @event destroyed
        * @type {Event}
        */
        emit('destroyed', props.tag);
    });
</script>

<style lang="scss" scoped>
    @import '@design/index.scss';

    .v-tag-bar-tag {
        font-size: $font-size-13;
        cursor: pointer;
        background: $state-default-bg-color;
        border-radius: 20px;
        padding: 0px 10px;
        position: relative;
        user-select: none;
        display: inline-block;
        vertical-align: top;
        &.removable {
            padding-right: 22px;
            padding-left: $small-space;
        }
        &.active {
            background: $brand-primary;
            color: $state-primary-color;
            .glyphicons-remove {
                color: $brand-primary;
            }
        }
        &:not(:last-of-type) {
            margin-right: 10px;
        }
    }
</style>
