<template>
    <div>
        <VTagBarTag
            v-for="option in options"
            :tag="option"
            :key="option.name"
            :class="{ 'active': !!valueById[option.id], removable }"
            @click="toggleSelectedOption(option), click(option)"
            @destroyed="toggleSelectedOptionIfRemoved">
            <template v-if="removable"><i class="glyphicons glyphicons-remove" @click.capture.stop="remove(option)"/></template>
        </VTagBarTag>
    </div>
</template>

<script setup lang="ts">
    import { computed, nextTick, PropType } from 'vue';
    import VTagBarTag from './VTagBarTag.vue';
    export type Option = {
        id: number,
        name: string,
    }

    const props = defineProps({
        modelValue: {
            type: [Array, Object, null] as PropType<Option[] | Option | null>,
            required: true,
        },
        options: { type: Array as PropType<Array<Option>>, default: () => [] },
        multiple: { type: Boolean, default: false },
        removable: { type: Boolean, default: false },
        toggleable: { type: Boolean, default: true },
    });
    const emit = defineEmits<{
        (e: 'update:modelValue', tag: Option[] | Option | null): void
        (e: 'click', tag: Option, isActive: boolean): void
        (e: 'remove', tag: Option): void
    }>();

    const valueById = computed(() => {
        if (!props.modelValue) return {};
        const value = ([] as Option[]).concat(props.modelValue);
        return value.reduce((acc, value) => {
            if (!value) return acc;
            acc[value.id] = value;
            return acc;
        }, {} as Record<number, Option>);
    });
    const optionsById = computed(() => {
        return props.options.reduce((acc, option) => {
            acc[option.id] = option;
            return acc;
        }, {} as Record<number, Option>);
    });

    function toggleSelectedOptionIfRemoved(tag: Option) {
        /**
        * When items are removed from the `options` prop (e.g. by the parent component), we need to call
        * toggleSelectedOption to update the parent's v-model to no longer include it.
        * If the option still exists, then the entire component was unmounted and remounted by an ancestor
        * component, causing the destroy hook to fire for each tag. In this case we do nothing.
        */
        if (optionsById.value[tag.id] || !valueById.value[tag.id]) return;
        toggleSelectedOption(tag, true);
    }

    function toggleSelectedOption(option: Option, isActive: Boolean | null = null) {
        const isOptionActive = (() => {
            if (isActive !== null) return isActive;
            // if toggleable is false, do not allow the tag to be deselected
            return props.toggleable ? valueById.value[option.id] : false;
        })();
        const getSingleModeValue = () => {
            return isOptionActive ? null : option;
        };
        const getMultipleModeValue = () => {
            const addOption = (option: Option) => {
                const value = props.modelValue as Option[];
                // when isActive param is true, avoid adding a duplicate value
                if (valueById.value[option.id]) return value;
                return value.concat(option);
            };
            return isOptionActive
                ? (props.modelValue as Option[]).filter(val => val.name !== option.name)
                : addOption(option);
        };
        emit('update:modelValue', props.multiple
            ? getMultipleModeValue()
            : getSingleModeValue());
    }

    function click(option: Option) {
        nextTick(() => {
            /**
            * Emitted when a tag is clicked.<br>
            * :param {Object} the tag<br>
            * :param {Boolean} whether the tag is active
            * @event click
            * @type {Event}
            */
            emit('click', option, !!valueById.value[option.id]);
        });
    }
    function remove(option: Option) {
        /**
        * Emitted when the remove button for a tag is clicked.<br>
        * :param {Object} the tag
        * @event remove
        * @type {Event}
        */
        emit('remove', option);
    }
</script>

<style lang="scss" scoped>
    @import '@design/index.scss';
    .glyphicons-remove {
        background: $light-gray;
        color: $state-default-bg-color;
        border-radius: 10px;
        padding: 2px;
        font-size: $font-size-10;
        position: absolute;
        top: 3px;
        right: 3px;
        &:hover {
            color: $state-primary-color;
            background: $state-danger-bg-color;
        }
        .active & {
            color: $brand-primary;
            &:hover {
                color: $state-primary-color;
            }
        }
    }
</style>
