<template>
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="13px" height="13px" viewBox="0 0 13 13" version="1.1">
        <g id="surface1">
            <path style=" stroke:none;fill-rule:evenodd;fill:rgb(0%,0%,0%);fill-opacity:1;" d="M 10.492188 5.367188 L 9.328125 6.589844 C 9.175781 6.039062 8.890625 5.507812 8.476562 5.050781 L 9.332031 4.148438 C 9.640625 3.828125 9.496094 3.277344 9.1875 2.957031 L 8.292969 2.015625 C 8.007812 1.71875 7.550781 1.5625 7.207031 1.921875 L 4.34375 4.925781 C 4.015625 5.269531 4.136719 5.753906 4.421875 6.058594 C 4.425781 6.066406 4.429688 6.070312 4.433594 6.074219 L 5.96875 7.683594 L 4.808594 8.898438 L 3.277344 7.289062 L 3.269531 7.285156 C 3.269531 7.28125 3.265625 7.28125 3.265625 7.277344 C 3.265625 7.277344 3.265625 7.277344 3.261719 7.277344 C 2.292969 6.25 2.253906 4.683594 3.183594 3.710938 L 6.046875 0.703125 C 6.976562 -0.269531 8.472656 -0.230469 9.449219 0.796875 L 10.347656 1.738281 C 11.355469 2.796875 11.421875 4.390625 10.492188 5.367188 Z M 6.359375 4.042969 C 6.359375 4.039062 6.355469 4.035156 6.351562 4.035156 L 5.195312 5.25 C 5.195312 5.253906 5.199219 5.253906 5.203125 5.257812 L 6.675781 6.804688 C 6.984375 7.128906 7.128906 7.679688 6.824219 8 L 3.957031 11.007812 C 3.648438 11.332031 3.121094 11.183594 2.8125 10.859375 L 1.917969 9.917969 C 1.625 9.613281 1.503906 9.121094 1.832031 8.777344 L 2.683594 7.882812 C 2.261719 7.4375 1.972656 6.910156 1.820312 6.359375 L 0.675781 7.5625 C -0.257812 8.539062 -0.21875 10.109375 0.757812 11.132812 L 1.65625 12.074219 C 2.648438 13.117188 4.203125 13.183594 5.117188 12.222656 L 7.980469 9.21875 C 8.910156 8.242188 8.84375 6.648438 7.835938 5.589844 Z M 6.359375 4.042969 "/>
            <path style=" stroke:none;fill-rule:evenodd;fill:rgb(100%,100%,100%);fill-opacity:1;" d="M 14 9.609375 C 14 12.035156 12.144531 14 9.851562 14 C 7.5625 14 5.703125 12.035156 5.703125 9.609375 C 5.703125 7.183594 7.5625 5.214844 9.851562 5.214844 C 12.144531 5.214844 14 7.183594 14 9.609375 Z M 14 9.609375 "/>
            <path style=" stroke:none;fill-rule:evenodd;fill:rgb(0%,0%,0%);fill-opacity:1;" d="M 10.863281 9.609375 L 12.652344 7.714844 C 12.722656 7.640625 12.722656 7.519531 12.652344 7.445312 L 11.894531 6.644531 C 11.828125 6.570312 11.710938 6.570312 11.640625 6.644531 L 9.851562 8.539062 L 8.0625 6.644531 C 7.992188 6.570312 7.875 6.570312 7.808594 6.644531 L 7.050781 7.441406 C 6.980469 7.515625 6.980469 7.636719 7.050781 7.714844 L 8.84375 9.609375 L 7.050781 11.503906 C 6.984375 11.578125 6.984375 11.699219 7.050781 11.773438 L 7.808594 12.570312 C 7.878906 12.644531 7.992188 12.644531 8.0625 12.570312 L 9.851562 10.679688 L 11.640625 12.570312 C 11.710938 12.644531 11.824219 12.644531 11.894531 12.570312 L 12.652344 11.773438 C 12.71875 11.699219 12.71875 11.578125 12.652344 11.5 Z M 10.863281 9.609375 "/>
        </g>
    </svg>
</template>
