<template>
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="13px" height="14px" viewBox="0 0 13 14" version="1.1">
        <defs>
            <g>
                <symbol overflow="visible" id="glyph0-0">
                    <path style="stroke:none;" d="M 0.21875 0.765625 L 0.21875 -3.046875 L 2.375 -3.046875 L 2.375 0.765625 Z M 0.453125 0.515625 L 2.140625 0.515625 L 2.140625 -2.796875 L 0.453125 -2.796875 Z M 0.453125 0.515625 "/>
                </symbol>
                <symbol overflow="visible" id="glyph0-1">
                    <path style="stroke:none;" d="M 1.25 -0.59375 L 2.640625 -0.59375 L 2.640625 0 L 0.34375 0 L 0.34375 -0.59375 L 1.5 -1.609375 C 1.59375 -1.703125 1.664062 -1.789062 1.71875 -1.875 C 1.769531 -1.96875 1.796875 -2.0625 1.796875 -2.15625 C 1.796875 -2.300781 1.742188 -2.414062 1.640625 -2.5 C 1.546875 -2.59375 1.414062 -2.640625 1.25 -2.640625 C 1.125 -2.640625 0.984375 -2.613281 0.828125 -2.5625 C 0.679688 -2.507812 0.519531 -2.429688 0.34375 -2.328125 L 0.34375 -3.015625 C 0.53125 -3.078125 0.710938 -3.125 0.890625 -3.15625 C 1.066406 -3.1875 1.242188 -3.203125 1.421875 -3.203125 C 1.796875 -3.203125 2.085938 -3.117188 2.296875 -2.953125 C 2.503906 -2.785156 2.609375 -2.554688 2.609375 -2.265625 C 2.609375 -2.085938 2.5625 -1.925781 2.46875 -1.78125 C 2.382812 -1.632812 2.203125 -1.4375 1.921875 -1.1875 Z M 1.25 -0.59375 "/>
                </symbol>
                <symbol overflow="visible" id="glyph0-2">
                    <path style="stroke:none;" d="M 0.4375 -0.8125 L 1.203125 -0.8125 L 1.203125 0 L 0.4375 0 Z M 0.4375 -0.8125 "/>
                </symbol>
                <symbol overflow="visible" id="glyph0-3">
                    <path style="stroke:none;" d="M 2.015625 -1.6875 C 2.222656 -1.632812 2.382812 -1.539062 2.5 -1.40625 C 2.613281 -1.269531 2.671875 -1.097656 2.671875 -0.890625 C 2.671875 -0.578125 2.550781 -0.335938 2.3125 -0.171875 C 2.070312 -0.015625 1.722656 0.0625 1.265625 0.0625 C 1.097656 0.0625 0.929688 0.046875 0.765625 0.015625 C 0.609375 -0.00390625 0.453125 -0.0390625 0.296875 -0.09375 L 0.296875 -0.71875 C 0.441406 -0.644531 0.585938 -0.585938 0.734375 -0.546875 C 0.890625 -0.503906 1.039062 -0.484375 1.1875 -0.484375 C 1.40625 -0.484375 1.570312 -0.519531 1.6875 -0.59375 C 1.800781 -0.675781 1.859375 -0.785156 1.859375 -0.921875 C 1.859375 -1.066406 1.796875 -1.175781 1.671875 -1.25 C 1.554688 -1.320312 1.382812 -1.359375 1.15625 -1.359375 L 0.828125 -1.359375 L 0.828125 -1.875 L 1.171875 -1.875 C 1.378906 -1.875 1.53125 -1.90625 1.625 -1.96875 C 1.726562 -2.039062 1.78125 -2.140625 1.78125 -2.265625 C 1.78125 -2.390625 1.726562 -2.484375 1.625 -2.546875 C 1.53125 -2.609375 1.394531 -2.640625 1.21875 -2.640625 C 1.09375 -2.640625 0.960938 -2.625 0.828125 -2.59375 C 0.691406 -2.570312 0.554688 -2.53125 0.421875 -2.46875 L 0.421875 -3.0625 C 0.585938 -3.113281 0.75 -3.148438 0.90625 -3.171875 C 1.0625 -3.191406 1.21875 -3.203125 1.375 -3.203125 C 1.78125 -3.203125 2.082031 -3.132812 2.28125 -3 C 2.488281 -2.863281 2.59375 -2.660156 2.59375 -2.390625 C 2.59375 -2.210938 2.539062 -2.0625 2.4375 -1.9375 C 2.34375 -1.820312 2.203125 -1.738281 2.015625 -1.6875 Z M 2.015625 -1.6875 "/>
                </symbol>
                <symbol overflow="visible" id="glyph0-4">
                    <path style="stroke:none;" d="M 0.5 -0.5625 L 1.21875 -0.5625 L 1.21875 -2.59375 L 0.484375 -2.4375 L 0.484375 -3 L 1.21875 -3.140625 L 2 -3.140625 L 2 -0.5625 L 2.71875 -0.5625 L 2.71875 0 L 0.5 0 Z M 0.5 -0.5625 "/>
                </symbol>
            </g>
        </defs>
        <g id="surface1">
            <path style=" stroke:none;fill-rule:evenodd;fill:rgb(0%,0%,0%);fill-opacity:1;" d="M 4.875 10.949219 L 13 10.949219 L 13 12.5625 L 4.875 12.5625 Z M 4.875 10.949219 "/>
            <path style=" stroke:none;fill-rule:evenodd;fill:rgb(0%,0%,0%);fill-opacity:1;" d="M 4.875 6.101562 L 13 6.101562 L 13 7.71875 L 4.875 7.71875 Z M 4.875 6.101562 "/>
            <path style=" stroke:none;fill-rule:evenodd;fill:rgb(0%,0%,0%);fill-opacity:1;" d="M 4.875 1.257812 L 13 1.257812 L 13 2.871094 L 4.875 2.871094 Z M 4.875 1.257812 "/>
            <g style="fill:rgb(0%,0%,0%);fill-opacity:1;">
              <use xlink:href="#glyph0-1" x="0" y="8.25631"/>
              <use xlink:href="#glyph0-2" x="3.015137" y="8.25631"/>
          </g>
          <g style="fill:rgb(0%,0%,0%);fill-opacity:1;">
              <use xlink:href="#glyph0-3" x="0" y="13.103966"/>
              <use xlink:href="#glyph0-2" x="3.015137" y="13.103966"/>
          </g>
          <g style="fill:rgb(0%,0%,0%);fill-opacity:1;">
              <use xlink:href="#glyph0-4" x="0" y="3.408654"/>
              <use xlink:href="#glyph0-2" x="3.015137" y="3.408654"/>
          </g>
      </g>
  </svg>
</template>
