<template>
    <div class="items">
        <button
            class="item"
            :class="{ 'is-selected': index === selectedIndex }"
            v-for="(item, index) in items"
            :key="index"
            @click="selectItem(index)">
            {{ item.name }}
        </button>
    </div>
</template>

<script lang="ts">
    import { ref, watch, defineComponent, PropType } from 'vue';
    import type { Mention } from './useMention';

    export default defineComponent({
        props: {
            items: { type: Array as PropType<Mention[]>, required: true },
            command: { type: Function as PropType<(mention: Mention) => void>, required: true },
        },
        setup(props) {
            const selectedIndex = ref(0);
            watch(() => props.items, () => {
                selectedIndex.value = 0;
            });

            function onKeyDown({ event }: { event: KeyboardEvent}) {
                if (event.key === 'ArrowUp') {
                    upHandler();
                    return true;
                }
                if (event.key === 'ArrowDown') {
                    downHandler();
                    return true;
                }
                if (event.key === 'Enter') {
                    enterHandler();
                    return true;
                }
                return false;
            }
            function upHandler() {
                selectedIndex.value = (selectedIndex.value + props.items.length - 1) % props.items.length;
            }
            function downHandler() {
                selectedIndex.value = (selectedIndex.value + 1) % props.items.length;
            }
            function enterHandler() {
                selectItem(selectedIndex.value);
            }
            function selectItem(index: number) {
                const item = props.items[index];

                if (item) {
                    props.command({ id: item.id, name: item.name });
                }
            }

            return {
                selectedIndex,
                selectItem,
                onKeyDown,
            };
        },
    });
</script>

<style lang="scss" scoped>
    @import '@design/index.scss';

    .items {
        position: relative;
        background: $background-white;
        border: 1px solid rgba(0, 0, 0, 0.15);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    }

    .item {
        display: block;
        width: 100%;
        text-align: left;
        background: transparent;
        border: none;
        padding: 5px 10px;

        &.is-selected, &:hover {
            color: #fff;
            background: $brand-primary;
        }
    }
</style>
