<template>
    <VFileInputLauncher @update:modelValue="uploadFile"/>
    <div v-if="isUploading">Uploading file...</div>
</template>

<script setup lang="ts">
    import { ref } from 'vue';
    import { VFileInputLauncher } from '../index';

    const isUploading = ref(false);
    function uploadFile(file: File) {
        isUploading.value = true;
        // do something with file
        return file;
    }
</script>
