<template>
    <VFileInputLauncher v-model="file" :inputCallback="discardUnsavedChanges"/>
    <div>You have selected: {{ file?.name }}</div>
</template>

<script setup lang="ts">
    import { ref, Ref } from 'vue';
    import { VFileInputLauncher } from '../index';

    const file: Ref<File | null> = ref(null);
    function discardUnsavedChanges() {
        return window.confirm('You have unsaved changes that will be discarded.');
    }
</script>
