<template>
    <VFileInputLauncher v-model="file"/>
    <div>You have selected: {{ file?.name }}</div>
</template>

<script setup lang="ts">
    import { ref, Ref } from 'vue';
    import { VFileInputLauncher } from '../index';

    const file: Ref<File | null> = ref(null);
</script>
