<template>
    <VTagBar v-model="filters" :options="options" :toggleable="false"/>
</template>

<script setup lang="ts">
    import { ref } from 'vue';
    import { VTagBar } from '../index';

    const filters = ref(null);
    const options = ref([
        { id: 1, name: 'High priority' },
        { id: 2, name: 'Owned by me' },
        { id: 3, name: 'Active' },
    ]);

</script>
