<template>
    <VTagBar v-model="filters" :options="options" :multiple="true" :removable="true" @remove="remove"/>
    <div>Selected: {{ filters.map(filter => filter.name) }}</div>
    <button class="btn btn-sm btn-default" style="margin-top:20px;" @click="reset">Recreate options</button>
</template>

<script setup lang="ts">
    import { ref } from 'vue';
    import { VTagBar } from '../index';

    const _options = [
        { id: 1, name: 'High priority' },
        { id: 2, name: 'Owned by me' },
        { id: 3, name: 'Active' },
    ];
    const filters = ref([
        { id: 1, name: 'High priority' },
        { id: 2, name: 'Owned by me' },
    ]);
    const options = ref([..._options]);

    function remove(option: { id: number }) {
        options.value = options.value.filter(({ id }) => id !== option.id);
    }
    function reset() {
        options.value = [..._options];
    }

</script>
