<template>
    <VTagBar v-model="filters" :options="options"/>
</template>

<script setup lang="ts">
    import { ref } from 'vue';
    import { VTagBar } from '../index';

    const filters = ref({
        id: 1,
        name: 'High priority',
    });
    const options = ref([
        { id: 1, name: 'High priority' },
        { id: 2, name: 'Owned by me' },
        { id: 3, name: 'Active' },
        { id: 4, name: 'Inactive' },
        { id: 5, name: 'Sort by newest' },
        { id: 6, name: 'Sort by oldest' },
        { id: 7, name: 'Sort by largest' },
        { id: 8, name: 'Sort by smallest' },
        { id: 9, name: 'Sort by greatest financial impact' },
        { id: 10, name: 'Complete' },
        { id: 11, name: 'Incomplete' },
    ]);
</script>
