<template>
    <h2>VTagBar</h2>
    <VTagBar v-model="filters" :options="options"/>

    <h2>vTooltip</h2>
    <button class="btn btn-primary" v-tooltip="'This is a tooltip'">Tooltip</button>
</template>

<script setup lang="ts">
    import { ref } from 'vue';
    import { VTagBar, vTooltip } from '@lumere/lumere-ui';

    const filters = ref({
        id: 1,
        name: 'High priority',
    });
    const options = ref([
        { id: 1, name: 'High priority' },
        { id: 2, name: 'Owned by me' },
        { id: 3, name: 'Active' },
        { id: 4, name: 'Inactive' },
        { id: 5, name: 'Sort by newest' },
        { id: 6, name: 'Sort by oldest' },
        { id: 7, name: 'Sort by largest' },
        { id: 8, name: 'Sort by smallest' },
        { id: 9, name: 'Sort by greatest financial impact' },
        { id: 10, name: 'Complete' },
        { id: 11, name: 'Incomplete' },
    ]);
</script>

<style>
    #app {
        padding: 20px;
    }
</style>
