@mixin animation($action) {
    -webkit-animation: #{$action};
       -moz-animation: #{$action};
         -o-animation: #{$action};
            animation: #{$action};
}

@mixin popper-arrows($size: 5px, $color: #000, $borderColor: null, $arrowClass: '.popover-arrow') {
    #{$arrowClass} {
        position: absolute;
        width: 0;
        height: 0;
        border-style: solid;
        @if $borderColor {
            border-color: $borderColor;
            &:before {
                z-index: -1;
                display: block;
                border: solid transparent;
                content: " ";
                height: 0;
                width: 0;
                pointer-events: none;
                border-width: $size - 2px;
                position: absolute;
            }
        } @else {
            border-color: $color;
        }
    }
    &[data-popper-placement^="top"] {
        margin-bottom: $size;
        #{$arrowClass} {
            border-width: $size $size 0 $size;
            border-left-color: transparent;
            border-right-color: transparent;
            border-bottom-color: transparent;
            bottom: -$size;
            margin-left: -2px;
            @if $borderColor {
                &:before {
                    border-top-color: $color;
                    top: -$size;
                    left: -$size + 2px;
                }
            }
        }
    }
    &[data-popper-placement^="bottom"] {
        margin-top: $size;
        #{$arrowClass} {
            border-width: 0 $size $size $size;
            border-left-color: transparent;
            border-right-color: transparent;
            border-top-color: transparent;
            top: -$size;
            margin-left: -2px;
            @if $borderColor {
                &:before {
                    border-bottom-color: $color;
                    bottom: -$size;
                    left: -$size + 2px;
                }
            }
        }
    }
    &[data-popper-placement^="right"] {
        margin-left: $size;
        #{$arrowClass} {
            border-width: $size $size $size 0;
            border-left-color: transparent;
            border-top-color: transparent;
            border-bottom-color: transparent;
            left: -$size;
            @if $borderColor {
                &:before {
                    border-right-color: $color;
                    right: -$size;
                    bottom: -$size + 2px;
                }
            }
        }
    }
    &[data-popper-placement^="left"] {
        margin-right: $size;
        #{$arrowClass} {
            border-width: $size 0 $size $size;
            border-top-color: transparent;
            border-right-color: transparent;
            border-bottom-color: transparent;
            right: -$size;
            @if $borderColor {
                &:before {
                    border-left-color: $color;
                    left: -$size;
                    bottom: -$size + 2px;
                }
            }
        }
    }
}
@mixin keyframes($action) {
    @-webkit-keyframes #{$action};
       @-moz-keyframes #{$action};
         @-o-keyframes #{$action};
            @keyframes #{$action};
}
