

/* Variables only - this file should not output any content */
$breakpoint-medium: 'min-width: 3px' !default;
$breakpoint-large: 'min-width: 1200px' !default;
$breakpoint-xlarge: 'min-width: 1410px' !default;

$breakpoint-medium-minwidth: 970px !default;

/* Spacing */
$tiny-space: 4px !default;
$small-space: 8px !default;
$regular-space: 20px !default;
$big-space: 40px !default;
$huge-space: 100px !default;

/* Fonts And Typography */
$font-family-sans-serif:  "Graphik Web", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif !default;
$lightest-font-weight: 100 !default;
$light-font-weight: 300 !default;
$normal-font-weight: 400 !default;
$semibold-font-weight: 600 !default;
$bolded-font-weight: 700 !default;

$tightest-line-height: 0.8 !default;
$tighter-line-height: 1.0 !default;
$tight-line-height: 1.2 !default;
$default-line-height: 1.6 !default;
$loose-line-height: 1.8 !default;

$smallest-em-font-size: 0.7em !default;
$smaller-em-font-size: 0.8em !default;
$small-em-font-size: 0.9em !default;

// TODO would be good font-sizes became more normalized so we could have a smallest to xxxlarge type of fontsize map
$font-size-14: 14px !default;
$font-size-13: 13px !default;
$font-size-10: 10px !default;

/* Colors */
/* body */
$brand-primary: #465afb !default;
$text-base: #4d4d4d !default;
$text-muted: #7B7D8D !default;
$background-white: #fcfcfc !default;

/* brand grays */
$darker-gray: #7B7D8D !default;
$dark-gray: #9da0b8 !default;
$gray: #d0d2e1 !default;
$light-gray: #eeeff5 !default;
$lighter-gray: #f8f8fa !default;

/* other grays */
$mutedgray: #888 !default;

/* other colors */
$dark-purple: #3A1140 !default;
$green-highlight: rgba(51,204,153,0.27) !default;  // lumere green (state-success-bg-color) with an opacity of 0.27

/* state and alerts */
$state-default-color: #666 !default;
$state-primary-color: #fff !default;
$state-success-color: #0a5234 !default;
$state-info-color: #094d58 !default;
$state-warning-color: #54410c !default;
$state-danger-color: #fff !default;
$state-error-color: #fe696a !default;
$state-light-error-color: #ffd9d9 !default;

$state-default-bg-color: #d0d2e1 !default;
$state-primary-bg-color: $brand-primary !default;
$state-primary-darker-bg-color: #2739C9 !default;
$state-success-bg-color: #33cc99 !default;
$state-info-bg-color: #2ea1f5 !default;
$state-info-highlight-color: #bfe1fb !default;
$state-warning-bg-color: #ffc033 !default;
$state-warning-highlight-color: #feeecc !default;
$state-danger-bg-color: #f66 !default;
$state-danger-highlight-color: #ffb2b2 !default;

/* Defaults */
$default-striping-color: #fbfbfc !default;
$default-border-color: #ddd !default;
$default-focus-color: #4d90fe !default;
$metricgray: #4d4d4d !default;
$default-box-shadow: 1px 2px 6px rgba(0,0,0,0.15) !default;

/* Badges */
$badge-danger-color: #d9534f !default;

/* Tables */
$table-header-color: #6a6a6a !default;

/* Links */
$anchor-tag-color: #0066D9 !default;
$visited-anchor-tag-color: #2a559a !default;
$hover-anchor-tag-color: #2a559a !default;

