<template>
    <div style="margin-top: 100px; margin-bottom: 100px; display: flex; justify-content: center;">
        <VPopover
            v-if="showTopPlacementPopover"
            class="v-popover-narrow"
            @close="toggleTopPlacementPopover"
            :trigger="topPlacementTrigger as HTMLElement"
            :coverTrigger="true"
            :arrow="false">
            <template #body>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                Eum in iure quidem fugiat dolore!
            </template>
        </VPopover>
        <a @click="toggleTopPlacementPopover" ref="topPlacementTrigger" class="btn btn-success">Top placement</a>
        <VPopover
            v-if="showBottomPlacementPopover"
            class="v-popover-narrow"
            @close="toggleBottomPlacementPopover"
            :trigger="bottomPlacementTrigger as HTMLElement"
            :coverTrigger="true"
            position="bottom"
            :arrow="false">
            <template #body>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                Eum in iure quidem fugiat dolore!
            </template>
        </VPopover>
        <a @click="toggleBottomPlacementPopover" ref="bottomPlacementTrigger" class="btn btn-success" style="margin-left: 20px;">Bottom placement</a>
    </div>
</template>

<script setup lang="ts">
    import { ref, Ref } from 'vue';
    import { VPopover } from '../index';

    const topPlacementTrigger: Ref<HTMLElement | null> = ref(null);
    const bottomPlacementTrigger: Ref<HTMLElement | null> = ref(null);
    const showTopPlacementPopover = ref(false);
    const showBottomPlacementPopover = ref(false);

    function toggleTopPlacementPopover() {
        showTopPlacementPopover.value = !showTopPlacementPopover.value;
    }
    function toggleBottomPlacementPopover() {
        showBottomPlacementPopover.value = !showBottomPlacementPopover.value;
    }
</script>
