<template>
    <div style="margin-top: 50px; margin-bottom: 250px; display: flex; justify-content: center;">
            <VPopover
                v-if="showPopover"
                @close="togglePopover"
                :trigger="popoverTrigger as HTMLElement"
                class="v-popover-narrow"
                position="bottom">
                <template #body>
                    <label for="example"/>
                    <input
                        id="example"
                        type="text"/>
                </template>
                <template #footer>
                    <div class="text-left">
                        <button @click="togglePopover" class="btn btn-success">Save</button>
                        <span> or <a @click="togglePopover">cancel</a></span>
                    </div>
                </template>
            </VPopover>
            <a @click="togglePopover" ref="popoverTrigger" class="btn btn-success" style="cursor: pointer;">Edit item</a>
        </div>
</template>

<script setup lang="ts">
    import { ref, Ref } from 'vue';
    import { VPopover } from '../index';

    const popoverTrigger: Ref<HTMLElement | null> = ref(null);
    const showPopover = ref(false);

    function togglePopover() {
        showPopover.value = !showPopover.value;
    }

    togglePopover();
</script>
