<template>
    <div style="margin-top: 100px; margin-bottom: 100px; display: flex; justify-content: center;">
        <VPopover v-if="showPopover" @close="togglePopover" :trigger="popoverTrigger as HTMLElement">
            <template #body>
                This is a simple popover with just some text.
            </template>
        </VPopover>
        <a @click="togglePopover" ref="popoverTrigger" class="btn btn-success">Toggle popover</a>
    </div>
</template>

<script setup lang="ts">
    import { ref, Ref } from 'vue';
    import { VPopover } from '../index';

    const popoverTrigger: Ref<HTMLElement | null> = ref(null);
    const showPopover = ref(false);

    function togglePopover() {
        showPopover.value = !showPopover.value;
    }

    togglePopover();
</script>
